<div class="col">
    <div class="card h-100 shadow-sm">
        <img src="{{product.url}}" alt="{{product.name}}" class="image-fluent bg-info">
      <a href="#">
          <h6 class="text-uppercase">{{product.name}}</h6>
      </a>
      <span class="mb-s">{{product.price | currency:'€'}}</span>

      
          <div class="btn-group mt-auto">
            <button type="button" class="btn btn-outline-secondary fa fa-shopping-cart mr-2"></button>
            <button type="button" class="btn btn-outline-secondary">Visualliza</button>
          </div>
          
        
      
    </div>
</div>
